.banner {
    margin-top: 109px;
    background: #0C111F;
    border-radius: 6px;
  
}

.banner_wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 88px;
    padding-right: 88px;
    padding-top: 65px;
    gap: 68px;
    padding-bottom: 20px ;
}

.banner_title {
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 77px;
    color: #FFFFFF;
}

.banner_description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    padding-top: 25px;
    color: rgba(255, 255, 255, 0.64);
    padding-bottom: 25px;
}