.hero {
    background: #0C111F;
    padding-bottom: 58px;
}

.hero_wrapper {
    display: flex;
    align-items: center;

    justify-content: space-between;
}

.left_title {
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 100px;
    letter-spacing: -0.04em;
    padding-top: 17px;
    color: #FFFFFF;
}

.left_description {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #E97458;
}

.left_paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    padding-top: 15px;
    color: rgba(255, 255, 255, 0.7);
}


.sun {
    color: yellow;
}

.hero_btns {
    padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 32px;
}

.right_btn {
    background: #0C111F;
    border: none;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}