
.destination{
    padding-top: 50px;
}

.destination_left{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-bottom: 60px;
}

.destination_title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #0C111F;
}



.destination_description {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 470px;
    line-height: 180%;
    color: #0C111F;
    opacity: 0.6;
}



.destination_right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.btns_destination {
    display: flex;
    align-items: center;
    gap: 12px;
}


.btn_destination {
    border: none;
    background-color: #fff;
}