
  @import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

body{
  font-family: 'Inter Tight', sans-serif;
}
 
.container{
  width: 1280px;
  margin:0 auto;
}